[user]
	name = Jay Kannaiyan
	email = 
[push]
	default = current
[tag]
	sort = version:refname
[core]
	autocrlf = false
	safecrlf = true
	editor = vim
	excludesfile = /Users/$USER/.gitignore_global
[pull]
	rebase = merges
[merge]
	ff = false
[status]
	showUntrackedFiles = all 